@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fuenteBarra {
  color:#ffffff;
  font-weight: bolder;
  text-decoration: none;
}

.tituloSeccion {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2vw;
  letter-spacing: 0.5px;
  line-height: 1.2;
  text-size-adjust: 100%;
}

.informacionFooter {
  color:grey;
  font-size: 13px;
}
.copyright {
  color:grey;
  font-size: 11px;
}

.estiloContenido {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.25%;
  scroll-behavior: smooth;
  overflow: visible;
}

.unCambioEnEstilo {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: nowrap;
  width: 60%;
  gap: 0.25%;
  scroll-behavior: smooth;
}

.boton_gif {
  position: relative;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton_gif:hover {
  transform: scale(1.5);
  z-index: 1000;
}

.boton_gif::before {
  content: "";
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  background-image: url('https://i.pinimg.com/originals/57/28/ae/5728aef13f51223982c0b8f9d71c0aba.gif');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity ease 1s;
}

.boton_gif:hover::before {
  opacity: 1;
}
